body {
    background-color: darkgray;
    font-family: cursive;
    text-align: center;
    margin-top: 50px;
}

body > h1 {
    color: darkgreen;
}

body > button {
    background-color: darkgreen;
    color: white;
    padding: 20px;
    font-size: 20px;
}

body > p {
    font-size: 20px;
    color: white;
}