div {width: 550px;
}

#titulo {height: 70px;
    top: 0px;
    left: 0px;
    border: 0px;
    line-height: 70px;
    position: relative;
    background-color:rgb(102, 58, 87);
}

h1 {font-family: Arial;
    font-size: 26;
    text-align: center;
    color: white;
}

h2 {font-family: Arial;
    font-size: 18;
    text-align: left;
    color: orange;
}

p {font-family: Arial;
    font-size: 14;
    text-align: justify;
    color: black;
    text-indent: 50px;
}